[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
django = "*"
django-cors-headers = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
PyJWT = "*"
pytz = "*"
sqlparse = "*"
psycopg2-binary = "*"
python-dotenv = "1.0.1"
django-allauth = "0.61.1"
drf-yasg = "1.21.7"
dj-rest-auth = "6.0.0"
dj-database-url = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
flake8 = "*"
black = "*"
